

body{
  font-family: 'Montserrat', sans-serif;
  margin-right: 0;
  text-align: center;
}

p{
  color: #8f8f8f;

  font-size: 1.5rem;
}


/* Headers Section */
h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
}

h2{

  font-size: 2.5rem;
}

h3{

  padding-top: 1rem;
  font-size: 2rem;
  margin: 5% 5%;
}

.big-header{

  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Sections Attributes */

.white-bg{

}

.color-bg{
  background-color: #ff4c68;
  color: white;
}

/* Navigation Bar*/
.navbar{
  padding:4px 0;

}

.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 15%;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.nav-item{
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 18px;
  margin-left: auto;
}

.navbar-collapse{
  margin-right: 1rem;
}
.navbar-toggler{
  margin-right: 1rem;
}

#title {
  padding-top: 4.5rem;
  text-align: left;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Iphone Pic */
.img1{
  transform: rotate(20deg);
  width: 20%;
  margin-left: 10%;
  margin-top: -2%;
  position: absolute;
}
@media (max-width: 1036px) {
  .img1{
    position: relative;
    transform: none;
    width: 325px;
    margin-top: 5%;
  }
  #title{
    text-align: center;
  }
}

@media (min-width:1650px) {
  .img1{
    width:300px;
  }
}

/* Download Buttons */

.dl-btn{
  margin: 3% 3% 5% 0%;
}

/* Features */

#features{
  z-index: 1;
  position: relative;
}
.col-lg-3{
}

.feat{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

.icon{
  font-size: 4rem;
  color: #ef9172;
}

.icon:hover {
  color: #ff4c68;
}



/* Testimonials section*/
#testimonials{

  background-color: #ef9172;
}

.carousel-item{
  padding: 5% 15%;
}

.carousel-indicators{
  width: 65%;
}
.carousel-icon{
  width: 200px;
  height: 75px;

}

.test-img-size{
  width: 25%;
  border-radius: 100%;
  margin:20px;
}

.linda{
  width:22%;
}

/* Press Section */

#press{
  background-color: #ef9172;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}
.signup{
  margin-left: 12.5%;
  width: 75%;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}
.spacer{
  color: white;
  visibility: hidden;
}

/* Call To Action Section */
#cta{
  padding: 10% 10%;
}
.cta-header{
  font-size: 3rem;
}
.btn-cta{
  margin-top: 0;
}

/* Footer Section */
#footer{
  font-family: 'Montserrat', sans-serif;
  padding:10% 5% 0;
}
.icon-contact {
  margin: 7% 1% 2%;
  color: black;
}
.copyright{
  font-size: 1rem;
}
